.beesblog-results {
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: right;
}
.beesblog-read-more-link {
	margin-top: 10px;
	margin-bottom: 10px;
	display: inline-block;
}
.beesblog-post-list-item {
	margin-bottom: 20px;
}
.beesblog-post-list-bottom {
	margin-bottom: 10px;
}
